h1 {
	color: #008000;
	text-align: center;
}
p.olive {
	height: 200px;
	width: 600px;
	color: #808000;
	background-color: #ede7e6;
}
p#yellow {
	height: 200px;
	width: 600px;
	color: #00FF00;
	opacity: 0.3;
}
